@using Diary.Service
@model ToDoDiaryWeb.ViewModels.ListofProductViewModel

@{
    ViewBag.Title = "Online shop";
    Layout = "_Layout";
}

<div class="row m-1 p-1">
    <div id="categories" class="col-3">
        @Html.Partial("pvListofCategories")
    </div>
    
<div class="col-9">  
@foreach (var p in Model.Products) {
    <div class="card card-outline-bg-danger m-1 p-1">
    <div class="bg-faded p-1">
    <h4>
    @p.Name
        <span class="badge badge-pill badge-primary" style="float:right">
            <small>@p.Price.ToString("c")</small>
                </span>
            </h4>
        </div>
        
        <form id="@p.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" name="productId"  value="@p.ProductID"/>
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @p.Description
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Cart
                </button>
            </span>
        </form>
     </div>
}

    <ul class="pagination">
        @for (var i = 1; i <= Model.PageInfo.TotalPages;i++)
        {
            <li class="page-item @(i == Model.PageInfo.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-currentCategory="@Model.CurrentCategory" asp-route-currentPage="@i">@i</a>
            </li>
        }
    </ul>
</div>  
</div>

