@model List<ToDoDiaryWeb.Models.MuscleGroup>

@{
    ViewBag.Title = "List of Muscle Groups";
    Layout = "_Layout";
}

<h2>List of Muscle groups</h2>
@if(User.IsInRole("admin")) {<a asp-controller="Muscle" asp-action="Add" class="btn btn-primary">Add</a>}
@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            @if (User.IsInRole("admin"))
            {
                <th scope="col">Id</th>
            }
                <th scope="col">Name of group</th>
             @if (User.IsInRole("admin"))
            {
                <th scope="col">Actions</th>
            }
                <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @for(int i=0;i<Model.Count();i++)
        {
            <tr>
            @if (User.IsInRole("admin"))
            {
                <td>@Model[i].Id</td>
            }
                <td>@Model[i].Name</td>
        @if (User.IsInRole("admin"))  { 
                <td>
                      <a asp-action="Delete" asp-controller="Muscle" asp-route-id="@Model[i].Id">Delete</a>
                         /
                      <a asp-action="Update" asp-controller="Muscle" asp-route-id="@Model[i].Id">Update</a>
                </td>
        }
                <td>
                    <p>
                       
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".Test_@i" aria-expanded="false" aria-controls="collapseFor">
                           Show exercises
                        </button>
                    </p>
                    <div class="collapse Test_@i" id="collapseFor">
                        <div class="card card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">More</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var r in Model[i].Exercises)
                                {
                                    <tr>
                                    <td>@r.Name</td>
                                    <td><a asp-action="More" asp-controller="Exercise" asp-route-id="@r.Id" >Press to read more Info</a></td>
                                    </tr>
                                    
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                
            </tr>
            
            
        }
        </tbody>
    </table>
    
}
